@font-face {
  src: url(font/Blanka-Regular.ttf);
  font-family: blanka;
}
body, html{
  height:100%;
  margin:0;
  font-size:16px;
  font-family:Tomorrow, sans-serif;
  font-weight:400;
  line-height:1.8em;
  color:#666;
}

.pimg1, .pimg2, .pimg3{
  position:relative;
  opacity:0.70;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;

  /*
    fixed = parallax
    scroll = normal
  */
  background-attachment:fixed;
}

.pimg1{
  background-image:url('../img/cycy.jpg');
  min-height:100%;
}

.pimg2{
  background-image:url('../img/cycy2.jpg');
  min-height:400px;
}

.pimg3{
  background-image:url('../img/cycy3.jpg');
  min-height:400px;
}

.pimg4{
  background-image:url('../img/cycy4.jpg');
  min-height:100%;
}
.section{
  text-align:center;
  padding:50px 80px;
}

.section-light{
  background-color:#f4f4f4;
  color:#666;
}

.section-dark{
  background-color:#282e34;
  color:#ddd;
}


.button{
body{
  background: black;
  font-family:Tomorrow, sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .1em
}

p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  font-family: 'ZCOOL KuaiLe', cursive;
}

a{
  display: block;
  color: white;
  text-decoration: none;
  position: relative;
}

a::after{
  content: "";
  background: white;
  mix-blend-mode: exclusion;
  width: calc(100% + 20px);
  height: 0;
  position: absolute;
  bottom: -4px;
  left: -10px;
  transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

a:hover::after{
  height: calc(100% + 8px)
}

/* The End */
.linkxx {
  color: red;
}
.note{
  top: auto;
  bottom: 0;
  color: #ddd;
  font-family:Tomorrow, sans-serif;
  font-size: 13px;
  text-transform: none;
  font-weight: 300;
  text-align: center;
  padding: 10px;
  width: 100%;
  max-width: 500px;
}
}

.ptext{
  position:absolute;
  top:50%;
  width:100%;
  text-align:center;
  color:#000;
  font-size:27px;
  letter-spacing:8px;
  font-family: 'Orbitron', sans-serif;
  text-transform:uppercase;
}

.ptext .border{
  background-color:#111;
  color:#fff;
  padding:20px;

}

.ptext .border.trans{
  background-color:transparent;
}

@media(max-width:568px){
  .pimg1, .pimg2, .pimg3{
    background-attachment:scroll;
  }
}
}


